

.linkRepo {
  background-image: url("./img/25231.png");
  height: 3rem;
  width: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin-right: 10px;
  transition: transform 0.3s ease;
}
.fotoPerfil {
  height: 12rem;
  width: 12rem;
  border-radius: 10%;
  margin: 1rem;
  /* margin-top: 1rem; */
}
.linkRepo:hover {
  transform: scale(1.1);
}
.linkLinkedin {
  background-image: url("./img/LinkedIn_logo_initials.png");
  height: 3rem;
  width: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin-right: 10px;
  transition: transform 0.3s ease;
}
.linkLinkedin:hover {
  transform: scale(1.1);
}
.emailLink {
  background-image: url("./img/4672500.png");
  height: 3rem;
  width: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin-right: 10px;
  transition: transform 0.3s ease;
}
.emailLink:hover {
  transform: scale(1.1);
}
header {
  position: sticky;
  top: 0;

  left: 0;
  z-index: 100;

  margin: 0 auto;

  background-color: white;
  width: 100%;
  height: 6.5rem;

  border-bottom: 0.1rem solid rgb(219, 219, 219);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: 0;
  padding: 0;
}

.link {
  margin-right: 1rem;

  position: relative;
  margin: 0 1rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;

  height: 5rem;
  width: 100%;
  
}
.link:hover {
  background-color: rgb(20, 65, 104);
  border-radius: 0.7rem;
  transition-duration: 50ms;
  text-decoration: none;
  color: white;
}

.listaLenguajes {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-right: 2rem;
  justify-content: space-around;
}

.lenguaje img {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
  flex: 1 0;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}
.contact-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.header-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* font-size: 62.5%; */
  margin: 0;
  padding: 0;
  margin: 1%;
}
body {
  background-color: white;

  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin: 0 auto;
  position: relative;
}
p {
  font-size: medium;
}

/* lista de proyectos*/
.listaProyectos {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  width: 70vw;
}
.proyecto {
  flex: 1 0;
  display: flex;
    align-items: center;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 1rem;
}

.button {
  background-color: rgb(20, 65, 104);
  border-radius: 0.7rem;
  transition-duration: 50ms;
  text-decoration: none;
  color: white;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100%;
    background-color: rgb(77, 96, 112);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    position: sticky;
    bottom: 0;
    
}
h1{
  margin: 1rem;
  padding: 0;
}
h2{
  margin: 1rem;
  padding: 0;
}
.inicio{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(77, 96, 112);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  position: sticky;
  bottom: 0;
}
.titProy {
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
}
.about {
  background-color: #f9f9f9; 
  padding: 2em; 
  margin: 2em auto; 
  max-width: 75vw; 
  font-size: 1.2em; 
  line-height: 1.6; 
  color: #333; 
}

.about h2 {
  color: #444; 
  margin-bottom: 1em; 
}

.about p {
  margin-bottom: 1em; 
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#pokeimagen {
  position: fixed;
  right: 1rem;
  top: 1rem;
}
.proyecto p{
  margin: 1rem;
  padding: 0;
  text-align: center;
}
.ghPages{
  width: 7rem;
  display: block;
  margin-right: 10px;
  transition: transform 0.3s ease;
}
.ghPages:hover{
  transform: scale(1.1);
}

  
@media (max-width: 600px) {
  .linkRepo, .linkLinkedin {
      height: 2rem;
      width: 2rem;
  }
  .fotoPerfil {
      height: 8rem;
      width: 8rem;
  }
  
  header {
    padding: 0.5rem;
    
}
nav ul {
    
    
    flex-wrap: wrap;
}
nav ul li {
    margin-bottom: 0.5rem;
}
.nombre h1, .nombre h2 {
    font-size: 1.2rem;
}
a{
  font-size: 1.2rem;
}
#pokeimagen {
  position: fixed;
  bottom: 0;
  left: 0;
}

}